<div fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button type="button" [routerLink]="'[/order]'">Back</button>
</div>

<div *ngIf="order.orderType === 'buy'">
    <h2>You BUY Order is Successful</h2>
    <p>Custodian's Paylah/Paynow QR Code</p>
    <img src="https://www.imgonline.com.ua/examples/qr-code-blue.png" class="resize-img">
    <p>Once the SGD funds are wired across, we will send you the bitcoin to your wallet address.</p>
    
    <mat-card>
        <mat-card-header fxLayout="column">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Order Details</mat-card-title>
            <mat-card-subtitle>Name: {{order.name}}</mat-card-subtitle>
            <mat-card-subtitle>Date of Birth: {{order.dob | date:'mediumDate'}}</mat-card-subtitle>
            <mat-card-subtitle>Order Date: {{order.orderDate | date:'mediumDate'}}</mat-card-subtitle>
            <mat-card-subtitle>Order Type: {{order.orderType}}</mat-card-subtitle>
            <mat-card-subtitle>Contact Number: {{order.phoneNumber}}</mat-card-subtitle>
            <mat-card-subtitle>Number of BTC units: {{order.units}}</mat-card-subtitle>
            <mat-card-subtitle>Total: {{order.label}} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<div *ngIf="order.orderType === 'sell'">
    <h2>You SELL Order is Successful</h2>
    <p>Custodian's wallet address: {{custodianWalletAddress}}</p>
    <p>Once the BTC are wired across, we will send you the SGD funds to your Paynow/Paylah bank account.</p>

    <mat-card>
        <mat-card-header fxLayout="column">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Order Details</mat-card-title>
            <mat-card-subtitle>Name: {{order.name}}</mat-card-subtitle>
            <mat-card-subtitle>Date of Birth: {{order.dob | date:'mediumDate'}}</mat-card-subtitle>
            <mat-card-subtitle>Order Date: {{order.orderDate | date:'mediumDate'}}</mat-card-subtitle>
            <mat-card-subtitle>Order Type: {{order.orderType}}</mat-card-subtitle>
            <mat-card-subtitle>Contact Number: {{order.phoneNumber}}</mat-card-subtitle>
            <mat-card-subtitle>Number of BTC units: {{order.units}}</mat-card-subtitle>
            <mat-card-subtitle>Total: {{order.label}} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<h2>Past Transactions</h2>
<div>
    <mat-action-list *ngFor="let order of orders; let i = index">
        <button mat-list-item [routerLink]="['/order/',i]">Transaction ID {{i}}; Created on: {{order.orderDate | date:'mediumDate'}}</button>
    </mat-action-list>
</div>